<ul class="nav nav-pills">
  <li role="presentation"><a href="/topics?page=1">Lists</a></li>
  <li role="presentation"><a href="/following?page=1">Following</a></li>
  <li role="presentation"><a href="/photos?page=1">Feed</a></li>
</ul>
